{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "React.createElement", // default pragma is React.createElement
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": false // defaults to true
      }
    ]
  ]
}
