html,
body,
div#root,
.app {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 56px; /* header height */
  flex: auto;
  padding: 0px;
  flex: 1;
  padding-bottom: 1em;
}

